integrations/n8n/appointment-workflow-template.json
{
  "name": "NeuroHyderabad - Appointment Booking CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "appointment-booking",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Appointment Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "appointment-booking"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.booking.patientName}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.booking.email}}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{$json.booking.phone}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Validate Required Fields",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "Leads!A:Z",
        "options": {
          "valueInputMode": "USER_ENTERED"
        },
        "values": "={{[\n  [\n    new Date().toISOString(),\n    $json.booking.patientName,\n    $json.booking.email,\n    $json.booking.phone,\n    $json.booking.age,\n    $json.booking.gender,\n    $json.booking.appointmentDate,\n    $json.booking.appointmentTime,\n    $json.booking.reason,\n    $json.booking.painScore || 'N/A',\n    $json.booking.mriScanAvailable ? 'Yes' : 'No',\n    $json.source,\n    $json.emailResult.success ? 'Email Sent' : 'Email Failed',\n    $json.usedAI ? 'AI Generated' : 'Template',\n    'New'\n  ]\n]}}"
      },
      "name": "Log to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [650, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "channel": "#appointments",
        "text": "🏥 *New Appointment Booking*\n\n*Patient:* {{$json.booking.patientName}}\n*Contact:* {{$json.booking.phone}} | {{$json.booking.email}}\n*Date:* {{$json.booking.appointmentDate}} at {{$json.booking.appointmentTime}}\n*Reason:* {{$json.booking.reason.substring(0, 100)}}...\n*Pain Score:* {{$json.booking.painScore || 'N/A'}}/10\n*MRI Available:* {{$json.booking.mriScanAvailable ? 'Yes ✓' : 'No'}}\n*Source:* {{$json.source}}\n\n*Status:* {{$json.emailResult.success ? '✓ Confirmation sent' : '⚠️ Email failed'}}",
        "otherOptions": {}
      },
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "slackApi": {
          "id": "YOUR_SLACK_CREDENTIALS_ID",
          "name": "Slack Account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "appointments@drsayuj.info",
        "toEmail": "admin@drsayuj.info,staff@drsayuj.info",
        "subject": "New Appointment: {{$json.booking.patientName}} - {{$json.booking.appointmentDate}}",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #1e40af; color: white; padding: 20px; border-radius: 8px 8px 0 0; }\n    .content { background: #f8fafc; padding: 20px; }\n    .field { margin: 10px 0; }\n    .label { font-weight: bold; color: #475569; }\n    .value { color: #0f172a; }\n    .urgent { background: #fef2f2; border-left: 4px solid #dc2626; padding: 10px; margin: 10px 0; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h2>New Appointment Booking</h2>\n    </div>\n    <div class=\"content\">\n      {{#if ($json.booking.painScore >= 7)}}\n      <div class=\"urgent\">\n        ⚠️ <strong>Urgent:</strong> Patient reports high pain score ({{$json.booking.painScore}}/10)\n      </div>\n      {{/if}}\n      \n      <div class=\"field\">\n        <span class=\"label\">Patient Name:</span>\n        <span class=\"value\">{{$json.booking.patientName}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Email:</span>\n        <span class=\"value\">{{$json.booking.email}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Phone:</span>\n        <span class=\"value\">{{$json.booking.phone}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Age / Gender:</span>\n        <span class=\"value\">{{$json.booking.age}} years / {{$json.booking.gender}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Appointment:</span>\n        <span class=\"value\">{{$json.booking.appointmentDate}} at {{$json.booking.appointmentTime}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Reason for Visit:</span>\n        <p class=\"value\">{{$json.booking.reason}}</p>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Pain Score:</span>\n        <span class=\"value\">{{$json.booking.painScore || 'Not provided'}}/10</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">MRI Scan Available:</span>\n        <span class=\"value\">{{$json.booking.mriScanAvailable ? 'Yes ✓' : 'No'}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Booking Source:</span>\n        <span class=\"value\">{{$json.source}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Confirmation Email:</span>\n        <span class=\"value\">{{$json.emailResult.success ? '✓ Sent successfully' : '⚠️ Failed'}}</span>\n      </div>\n      \n      <div class=\"field\">\n        <span class=\"label\">Submitted:</span>\n        <span class=\"value\">{{$json.triggeredAt}}</span>\n      </div>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "name": "Email Staff Notification",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 400],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIALS_ID",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.booking.painScore}}",
              "operation": "largerEqual",
              "value2": 7
            }
          ]
        }
      },
      "name": "Check if Urgent (Pain >= 7)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_ACCOUNT_SID/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "+919778280044"
            },
            {
              "name": "From",
              "value": "YOUR_TWILIO_NUMBER"
            },
            {
              "name": "Body",
              "value": "🚨 URGENT: {{$json.booking.patientName}} booked appointment with high pain score ({{$json.booking.painScore}}/10). Date: {{$json.booking.appointmentDate}}. Contact: {{$json.booking.phone}}"
            }
          ]
        },
        "options": {}
      },
      "name": "SMS Alert for Urgent Cases",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "YOUR_TWILIO_CREDENTIALS_ID",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Appointment processed successfully', appointmentId: $json.booking.patientName + '_' + $json.booking.appointmentDate } }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'Validation failed: Missing required fields' } }}",
        "responseCode": 400
      },
      "name": "Respond with Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 500]
    }
  ],
  "connections": {
    "Webhook - Appointment Received": {
      "main": [
        [
          {
            "node": "Validate Required Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Required Fields": {
      "main": [
        [
          {
            "node": "Log to Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Staff Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond with Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Google Sheets": {
      "main": [
        [
          {
            "node": "Check if Urgent (Pain >= 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Slack": {
      "main": [
        [
          {
            "node": "Check if Urgent (Pain >= 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Staff Notification": {
      "main": [
        [
          {
            "node": "Check if Urgent (Pain >= 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Urgent (Pain >= 7)": {
      "main": [
        [
          {
            "node": "SMS Alert for Urgent Cases",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Alert for Urgent Cases": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "meta": {
    "instanceId": "sayujks20417"
  },
  "id": "appointment-booking-crm"
}
