n8n/competitor-monitor.json
{
  "name": "Competitor & Rank Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "seconds": 0,
              "minutes": 0,
              "hours": 8
            }
          ]
        }
      },
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://google.serper.dev/search",
        "method": "POST",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_SERPER_API_KEY"
            }
          ]
        },
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "q",
              "value": "neurosurgeon hyderabad"
            },
            {
              "name": "gl",
              "value": "in"
            }
          ]
        },
        "options": {}
      },
      "name": "Search Competitors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const results = items[0].json.organic;\nconst top5 = results.slice(0, 5).map(r => `<li style=\"margin-bottom: 10px;\"><b><a href=\"${r.link}\" style=\"color: #0056b3; text-decoration: none;\">${r.title}</a></b><br><span style=\"color: #555; font-size: 0.9em;\">${r.snippet}</span></li>`).join('');\nreturn [{ json: { html: `<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto;\"><h2 style=\"color: #333; border-bottom: 2px solid #0056b3; padding-bottom: 10px;\">Weekly Local SEO SERP Analysis</h2><p>Top 5 ranking pages for <b>'Neurosurgeon Hyderabad'</b>:</p><ul style=\"list-style-type: none; padding: 0;\">${top5}</ul><p style=\"font-size: 0.8em; color: #888; margin-top: 20px;\">Review these snippets to identify content gaps and optimization opportunities for www.drsayuj.info.</p></div>` } }];"
      },
      "name": "Format Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "seo@drsayuj.info",
        "toEmail": "admin@drsayuj.info",
        "subject": "Weekly Competitor Analysis",
        "text": "Check the HTML content.",
        "html": "={{$node[\"Format Report\"].json[\"html\"]}}"
      },
      "name": "Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Search Competitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Competitors": {
      "main": [
        [
          {
            "node": "Format Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Report": {
      "main": [
        [
          {
            "node": "Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "id": "e6517b32-7e6a-4549-a3e6-626adf9e39e8"
}