n8n/content-repurposing-engine.json
{
  "name": "Content Repurposing Engine",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-repurpose",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "content-repurpose-webhook"
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent?key=REPLACE_WITH_YOUR_GEMINI_API_KEY",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": []
        },
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "body": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Repurpose the following content for social media.\\n\\nURL/Content: {{$node[\\\"Webhook\\\"].json[\\\"body\\\"][\\\"content\\\"]}}\\n\\nGenerate strictly valid JSON with these fields:\\n- linkedin_post: A professional, engaging LinkedIn post.\\n- twitter_thread: An array of strings, each representing a tweet in a thread.\\n- image_prompt: A prompt for an image generator (like DALL-E) to create a relevant visual.\\n- hashtags: A string of relevant hashtags.\"\n    }]\n  }]\n}",
        "options": {}
      },
      "name": "Gemini Repurpose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const geminiResp = items[0].json.candidates[0].content.parts[0].text;\n// Remove markdown code blocks if present\nconst cleanJson = geminiResp.replace(/```json/g, '').replace(/```/g, '').trim();\nlet content = {};\ntry {\n  content = JSON.parse(cleanJson);\n} catch (e) {\n  content = { linkedin_post: 'Error parsing AI response', twitter_thread: [], image_prompt: '', hashtags: '' };\n}\n\nreturn [{\n  json: {\n    ...items[0].json,\n    content\n  }\n}];"
      },
      "name": "Parse Content",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "content@drsayuj.info",
        "toEmail": "admin@drsayuj.info",
        "subject": "Social Media Drafts Ready",
        "text": "Your new social media content is ready for review.",
        "html": "<h2>New Social Media Content Generated</h2>\n\n<h3>LinkedIn Post</h3>\n<p style=\"white-space: pre-wrap;\">{{$node[\"Parse Content\"].json[\"content\"][\"linkedin_post\"]}}</p>\n<p><b>Hashtags:</b> {{$node[\"Parse Content\"].json[\"content\"][\"hashtags\"]}}</p>\n<hr>\n\n<h3>Twitter Thread</h3>\n<ul>\n{{$node[\"Parse Content\"].json[\"content\"][\"twitter_thread\"].map(t => `<li>${t}</li>`).join('')}}\n</ul>\n<hr>\n\n<h3>Image Prompt</h3>\n<p><i>{{$node[\"Parse Content\"].json[\"content\"][\"image_prompt\"]}}</i></p>"
      },
      "name": "Email Drafts",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini Repurpose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Repurpose": {
      "main": [
        [
          {
            "node": "Parse Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content": {
      "main": [
        [
          {
            "node": "Email Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}