n8n/health-monitor.json
{
  "name": "Site Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "seconds": 0,
              "minutes": 15,
              "hours": 0
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.drsayuj.info",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "name": "Check Site Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Check Site Status\"].json[\"statusCode\"]}}",
              "operation": "notEqual",
              "value2": 200
            }
          ]
        }
      },
      "name": "Check Status Code",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "monitor@drsayuj.info",
        "toEmail": "admin@drsayuj.info",
        "subject": "CRITICAL: Website Down",
        "text": "The website https://www.drsayuj.info returned status code {{$node[\"Check Site Status\"].json[\"statusCode\"]}}.",
        "html": "<h2>CRITICAL: Website Down</h2><p>The website https://www.drsayuj.info returned status code <b>{{$node[\"Check Site Status\"].json[\"statusCode\"]}}</b>.</p>"
      },
      "name": "Send Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP Account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Site Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Site Status": {
      "main": [
        [
          {
            "node": "Check Status Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status Code": {
      "main": [
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": []
}